<div>
  <acme-navbar></acme-navbar>
</div>
<div class="wrapper">
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab ng-repeat="tab in vm.tabs" active="tab.active" disable="tab.disabled">
          <uib-tab-heading>
            {{::tab.title}}
          </uib-tab-heading>
          <!-- {{tab.content}} -->
          <div class="tab-container row">
            <div class="subtitle row ">
              <div class="col-md-6 col-xs-12">
              </div>
            </div>
            <!--<div><h3>{{title}}</h3></div>-->
            <div class="clearfix" compile-html="tab.content"></div>
            <div ng-if="tab.id == 1">
              <!--{{vm.latenessSummaries}}-->
            </div>
            <!-- <div ng-show="vm.error" class="container"><h2>{{vm.errormessage}}</h2></div> -->
            <div cg-busy="{promise:vm.promise, message:'Loading your chart', minDuration:1000}">
              <div id="chart{{tab.id}}" ng-bind="chart{{tab.id}}"></div>

            </div>

          </div>
        </uib-tab>
      </uib-tabset>

      <div class="container">
        <select ng-model="vm.link.selected" ng-change="vm.linksOnselect(vm.link.selected)">
        <option value="all">All</option>
        <option ng-repeat="(value, link) in vm.chartLinks">{{link}}
             <span ng-bind-html="link"></span>
         

        </option>
        </select>
       
        
      </div>
    </div>
  </div>
</div>
</div>