<div class="wrapper">
	<acme-navbar></acme-navbar>
	<div id="page-wrapper">
		<!--<div class="container-fluid">-->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="page-header">Dwell Times</h4>
			</div>
			<div class="col-lg-12">
				<table class="table table-responsive">
					<thead>
						<th colspan="4">{{vm.headcode}} {{vm.response.originStation}} - {{vm.response.destinationStation}}</th>
					</thead>
					<thead>
						<th>Station Name</th>
						<th>Planned Dwell Time</th>
						<th>Actual GPS Dwell Time</th>
						<th>Actual Darwin Dwell Time</th>
					</thead>
					<tbody ng-repeat="dwellTime in vm.dwellTimes">
						<tr>
							<td>{{dwellTime.stationName}}</td>
							<td>
								<div ng-if="dwellTime.plannedDwellTimeInSeconds != -1">
									{{dwellTime.plannedDwellTimeInSeconds}}
								</div>
								<div ng-if="dwellTime.plannedDwellTimeInSeconds == -1">
									Not Available
								</div>
							</td>
							<td>
								<div ng-if="dwellTime.gpsDwellTimeInSeconds != -1">
									{{dwellTime.gpsDwellTimeInSeconds}}
								</div>
								<div ng-if="dwellTime.gpsDwellTimeInSeconds == -1">
									Not Available
								</div>
							</td>

							<td>
								<div ng-if="dwellTime.darwinDwellTimeInSeconds != -1">
									{{dwellTime.darwinDwellTimeInSeconds}}
								</div>
								<div ng-if="dwellTime.darwinDwellTimeInSeconds == -1">
									Not Available
								</div>
							</td>
						</tr>
					</tbody>
				</table>


			</div>

		</div>
	</div>
</div>