// Variables

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$c3-brown: #8c564b;
$c3-green-light: lighten(#2ca02c, 50%);
$c3-green: #2ca02c;
$c3-green-actual: lighten(#2ca02c, 20%);
$c3-blue: #7cb5ec;
$c3-blue-dark: #1f77b4;
$c3-red : #D2527F;
$c3-orange : #FF7F0E;


